version: '3.7'
services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    hostname: plex
    restart: unless-stopped
    ports:
      - "32400:32400"
    volumes:
      - ../data/config:/config
      - ../data/TV Shows:/tv
      - ../data/Movies:/movies
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - UMASK_SET=022 #optional
      # - PLEX_CLAIM=changeme
